.site-header{
  padding: 47px 0 192px;
  background-image: url("../../images/hero-bg1.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 430px) calc(50% - 110px);
  position: relative;

  &::before{
    content: "";
    display: block;
    width: 374px;
    height: 389px;
    position: absolute;
    top: 650px;
    left: -190px;
    background-image: url("../../images/hero-bg.png");
    background-repeat: no-repeat;
    background-position:100%;
  }
}

.site-header__top-inner{
  display: flex;
  align-items: center;
  margin-bottom: 130px;
}

.site-header__logo-img{
transition: 1s ease;

&:hover{
  opacity: 0.8;
}
}

.site-header__list{
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-left: 450px;
}

.site-header__item{
  margin-right: 73px;
}

.site-header__item-link{
  text-decoration: none;
  font-family: "Circular Std";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #AAAAAB;
  transition: all ease;

  &:hover{
    color: $title-color;
  }
}

.active-link{
  color: $title-color;
}

.site-header__info{
  width: 600px;
  position: relative;

  &::after{
    content: "";
    display: block;
    width: 532px;
    height: 532px;
    background-image: url("../../images/product.png");
    background-repeat: no-repeat;
    position: absolute;
    top: -10px;
    right: -500px;
  }
}

.site-header__strong{
  display: block;
  font-family: "Circular Std";
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: $pink-color;
  position: relative;
  padding-left: 47px;
  margin-bottom: 30px;

  &::before{
    content: "";
    display: block;
    position: absolute;
    width: 36px;
    height: 3px;
    background-color: $pink-color;
    top: 20px;
    left: 5px;
  }
}

.site-header__title{
  font-family: "Circular Std";
  font-weight: bold;
  font-size: 64px;
  line-height: 74px;
  margin: 0;
  color: $title-color;
}

.site-header__text{
  width: 531px;
  font-family: "Proxima Nova";
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.02em;
  margin: 0;
  margin:31px 0 42px;
  color: $text-color;
}

.link{
  display: inline-block;
  font-family: "Circular Std";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  border: 2px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  background-color: $pink-color;
  color: $white-color;
  padding: 18px 85px 18px 22px;
  position: relative;
  transition: 1s ease;

  &::after{
    content: "";
    display: block;
    width:44px;
    height: 32px;
    position: absolute;
    background-image: url("../../images/start-arrow.png");
    background-repeat: no-repeat;
    top: 17px;
    right: 20px;
  }

  &:hover{
    border: 2px solid $title-color;
    background-color: $pink-color;
  color: $title-color;
  }
}