.site-header{
  padding: 47px 0 128px;

  &::before{
    content: "";
    display: block;
    width: 374px;
    height: 389px;
    position: absolute;
    top: 650px;
    left: -190px;
    background-image: url("../../images/hero-bg.png");
    background-repeat: no-repeat;
    background-position:100%;
  }

  &::after{
    content: "";
    display: block;
    width: 1021px;
    height: 939px;
    position: absolute;
    z-index: -1;
    top: -140px;
    right: -180px;
    background-image: url("../../images/hero-bg1.png");
    background-repeat: no-repeat;
    background-position:100%;
  }
}

.site-header__inner{
  display: flex;
  align-items: center;
}

.site-header__logo-img{
  transition: 1s ease;

  &:hover{
    opacity: 0.8;
  }
}

.site-header__list{
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-left: 450px;
}

.site-header__item{
  margin-right: 73px;
}

.site-header__item-link{
  text-decoration: none;
  font-family: "Circular Std";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #AAAAAB;
  transition: all ease;

  &:hover{
    color: $title-color;
  }
}

.active-link{
  color: $title-color;
}
