.services{
  padding: 150px 0 100px;
}

.services__heading{
  display: block;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: $pink-color;
  text-align: center;
  margin-bottom: 10px;
}

.services__title{
  font-family: "Circular Std";
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 72px;
  margin: 0;
  text-align: center;
  color: $title-color;
}

.services__list{
  display: flex;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
  margin-top: 58px;
}

.services__item{
  width: 270px;
  text-align: center;
  background-color:$light-pink-color;
  border-radius: 8px;
  padding: 150px 23px 23px 23px;
}

.services__item-mlink{
    position: relative;

    &::before{
      content: "";
      display: block;
      position: absolute;
      width: 50px;
      height: 50px;
      background-image: url("../../images/design.png");
      background-repeat: no-repeat;
      top: -90px;
      left: -25px;
    }
  }

.services__item + .services__item{
  margin-left: 30px;
}

.services__item-mlink{
  text-decoration: none;
  color: transparent;
}

.services__subtitle{
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 72px;
  color: $title-color;
  margin: 0;
}

.services__text{
  line-height: 24px;
  color: $text-color;
  margin: 0;
  margin-bottom: 16px;
}

.services__sublink{
  text-decoration: none;
  color: transparent;
}

.services__item{
transition: all 1.5s ease;

&:hover{
background-color: $pink-color;
opacity: 0.8;

.services__item-mlink{
  color: $white-color;
position: relative;

&::before{
  content: "";
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  background-image: url("../../images/portfolio.png");
  background-repeat: no-repeat;
  top: -90px;
  left: -25px;


}

&::after{
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 13px;
  background-image: url("../../images/learn-more.png");
  background-repeat: no-repeat;
  top: 138px;
  right: -17px;
}
}
 .services__subtitle{
  color: $white-color;
}

 .services__text{
  color: $white-color;
}

}
}
