.subscribe{
padding-top: 156px;
background-image: url("../../images/subscribe-bg.png"), url("../../images/subscribe-bg2.png");
background-repeat: no-repeat;
background-position: calc(50% - 550px) calc(50% + 30px), calc(50% + 740px) calc(50% + 15px);
}

.subscribe__info{
 width: 538px;
  text-align: center;
  margin: 0 auto;
}

.subscribe__title{
  font-family: "Circular Std";
  font-weight: bold;
  font-size: 52px;
  line-height: 72px;
  margin: 0;
  margin-top: 18px;
  color: $title-color;
}

.subscribe__text{
  font-size: 20px;
  line-height: 32px;
color: $text-color;
margin: 0;
margin-bottom: 15px;
}

.subscribe__form{
  position: relative;
  display: flex;
  align-items: center;
  width: 706px;
  margin: 0 auto;
  background-color: $white-color;

  &::before{
    content: "";
    display: block;
    width: 19px;
    height: 19px;
    background-image: url("../../images/Mail.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 28px;
    left: 25px;
  }
}

.subscribe__input{
  width: 706px;
  border: transparent;
  background: rgba(255, 255, 255, 1);
  border: 2px solid transparent;
border-radius: 4px;
padding: 28px 60px;
color: #D2D2D2;
outline: transparent;
box-shadow:#F3F3F3;

&:hover{
  border: 2px solid $pink-color;
color: $white-color;
}
}

.subscribe__btn{
  position: absolute;
  right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
border: none;
  &::after{
    top: 12px;
}
}