.testimonials__inner{
  display: flex !important;
  align-items: flex-start;
  padding-bottom: 185px;
}

.testimonials__info{
  width: 520px;
  margin-left: 130px;
}


.testimonials__heading{
  display: block;
  font-family: "Circular Std";
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 20px;
  color: $pink-color;
}

.testimonials__title{
  font-family: "Circular Std";
  font-weight: bold;
  font-size: 52px;
  line-height: 62px;
  margin: 0;
  color: $title-color;
}

.testimonials__quote{
  font-size: 20px;
  line-height: 32px;
  color: $text-color;
  margin: 0;
  margin: 38px 100px 30px 0;
}

.testimonials__name{
  display: block;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  color: $title-color;
  margin-bottom: 10px;
}

.testimonials__country-link{
  font-style: normal;
  line-height: 32px;
  color: $text-color;
  text-decoration: none;
}

.testimonials__brands-link{
  text-decoration: none;
}


.slick-prev{
  position: absolute;
  bottom: 200px;
  right:  35px;
  z-index: 100;
  &::before{
    width: 100%;
    height: 100%;
    display: block;
    content: "";
    background-image: url("../../images/bi_arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center;
background-size: cover;
  }
}

.slick-next{
  width: 30px;
  position: absolute;
  bottom: 200px;
  right:  0;
  z-index: 100;
  &::before{
    width: 100%;
    height: 100%;
    display: block;
    content: "";
    background-image: url("../../images/bi_arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
background-size: cover;
  }
}


.brands-carousel{
  display: flex;
  align-items: center !important;

.slick-next, .slick-prev{
    visibility: hidden;
   }
}

.testimonials__brands-link + .testimonials__brands-link{
  margin-left: 80px;
}
