.testimonials__inner{
  display: flex;
  align-items: flex-start;
  padding-bottom: 165px;
}

.testimonials__info{
  width: 520px;
  margin-left: 130px;
}


.testimonials__heading{
  display: block;
  font-family: "Circular Std";
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 20px;
  color: $pink-color;
}

.testimonials__title{
  font-family: "Circular Std";
  font-weight: bold;
  font-size: 52px;
  line-height: 62px;
  margin: 0;
  color: $title-color;
}

.testimonials__quote{
  width: 400px;
  font-size: 20px;
  line-height: 32px;
  color: $text-color;
  margin: 0;
  margin: 38px 0 30px;
}

.testimonials__name{
  display: block;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  color: $title-color;
  margin-bottom: 10px;
}

.testimonials__country{
  line-height: 32px;
  color: $text-color;
}
